body {
    background-color: #83E8BA;
    font-family: sans-serif;
    text-align: justify;
}

header,
footer {
    background-image: url(../img/grass.webp);
    background-size: cover;
    padding: 15px;
    text-align: center;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2ecc71;
}

h1 {
    color: #2c3e50;
}

section h2 {
    color: #34495e;
}

section h2 ~ h3 {
    color: #34495e;
}

nav {
    display: block;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration-line: none;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #27ae60;
}

nav a {
    font-size: 20px;
    text-shadow: 0 0 4px #333;
    padding: 0 5px;
    margin: 0 5px;
}

nav a:first-child {
    color: #D4FCC3;
}
nav a:nth-child(2) {
    color: #FFD447;
}
nav a:nth-child(3) {
    color: #02C39A;
}
nav a:last-child {
    color: #EDFF86;
}

nav a:first-child:hover {
    background-color: #556c4a;
}
nav a:nth-child(2):hover {
    background-color: #80671a;
}
nav a:nth-child(3):hover {
    background-color: #005e4b;
}
nav a:last-child:hover {
    background-color: #6f7838;
}

section a {
    color: #c71bcd;
}

header img {
    height: 20vh;
    max-width: 80vw;
    width: auto;
    border-radius: 10px;
}

#definition {
    font-weight: bold;
    font-size: 1.2em;
}

#citation {
    font-style: italic;
    color: #555f60;
}



#postit {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

#postit > li:first-child,
#postit > li:first-child ul li {
    background-color: #779869;
}

#postit > li:nth-child(2),
#postit > li:nth-child(2) ul li {
    background-color: #009603;
}

#postit > li:nth-child(3),
#postit > li:nth-child(3) ul li {
    background-color: #a2ffcc;
}

#postit > li:nth-child(4),
#postit > li:nth-child(4) ul li {
    background-color: #008c70;
}

#postit > li:last-child,
#postit > li:last-child ul li {
    background-color: #a58421;
}

.postit-item {
    background-color: white;
    border: solid 1px #2c3e50;
    min-width: 200px;
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.postit-item ul {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    left: 0;
    top: 30px;
}

.postit-item:hover ul {
    display: block;
}

.postit-item ul li {
    background-color: white;
    border: solid 1px #2c3e50;
    color: #222;
    padding: 5px;
}


table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1300px;
    margin: 10px auto;
}

table caption {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
    padding: 10px;
}

table th {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    text-align: center;
}

table tr {
    background-color: #a2ffcc;
    padding: 5px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #c7f9cc;
}

table td:first-child {
    font-weight: bold;
}

fieldset {
    border: solid 2px #005e4b;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

legend {
    color: #fff;
    background-color: #005e4b;
    padding: 5px 10px;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: calc(50% - 40px);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px #005e4b;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-width: 2px;
    margin: 4px;
}

button,
input[type="button"] {
    background-color: #005e4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover {
    background-color: #02C39A;
}

button:disabled,
input[type="button"]:disabled {
    background-color: #c7f9cc;
    color: #222;
    cursor: not-allowed;
}

.quiz {
    display: none;
}

.chat-container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

.chat-header {
    background-color: #0e7013;
    color: #ebe6e6;
    padding: 10px;
    text-align: center;
}

.chat-box {
    height: 150px;
    overflow-y: scroll;
    padding: 10px;
}

.user-message, .bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #144404;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color : green;
}
